In [2]:
#Dependencies

import pandas as pd


file = "WA Police Force Crime Timeseries.xlsx"
WAstats = pd.read_excel(file,sheet_name = "Data")

WAstats.head()

      Website Region  WAPOL_Hierarchy_order_Lvl1 WAPOL_Hierarchy_Lvl1  \
0  Armadale District                         1.1               Murder
1  Armadale District                         1.1               Murder
2  Armadale District                         1.1               Murder
3  Armadale District                         1.1               Murder
4  Armadale District                         1.1               Murder

   WAPOL_Hierarchy_order_Lvl2 WAPOL_Hierarchy_Lvl2     Period     Year  \
0                           1             Homicide 2007-01-01  2006-07
1                           1             Homicide 2007-02-01  2006-07
2                           1             Homicide 2007-03-01  2006-07
3                           1             Homicide 2007-04-01  2006-07
4                           1             Homicide 2007-05-01  2006-07

                                    Key  MonthYear  COUNT_of_Offnc_ID
0  Armadale DistrictMurderHomicide12007      12007                NaN
1  Armadale DistrictMurderHomicide22007      22007                NaN
2  Armadale DistrictMurderHomicide32007      32007                1.0
3  Armadale DistrictMurderHomicide42007      42007                NaN
4  Armadale DistrictMurderHomicide52007      52007                NaN

In [10]:
#Regional DF
Regional_df = WAstats[WAstats["Website Region"]=="Regional WA Region"]
Regional_df.head()

,Website Region,WAPOL_Hierarchy_order_Lvl1,WAPOL_Hierarchy_Lvl1,WAPOL_Hierarchy_order_Lvl2,WAPOL_Hierarchy_Lvl2,Period,Year,Key,MonthYear,COUNT_of_Offnc_ID
117600,Regional WA Region,1.1,Murder,1,Homicide,2007-01-01,2006-07,Regional WA RegionMurderHomicide12007,12007,NaN
117601,Regional WA Region,1.1,Murder,1,Homicide,2007-02-01,2006-07,Regional WA RegionMurderHomicide22007,22007,NaN
117602,Regional WA Region,1.1,Murder,1,Homicide,2007-03-01,2006-07,Regional WA RegionMurderHomicide32007,32007,NaN
117603,Regional WA Region,1.1,Murder,1,Homicide,2007-04-01,2006-07,Regional WA RegionMurderHomicide42007,42007,2.0
117604,Regional WA Region,1.1,Murder,1,Homicide,2007-05-01,2006-07,Regional WA RegionMurderHomicide52007,52007,1.0