In [7]:
#Dependencies

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt


file = "WA Police Force Crime Timeseries.xlsx"
WAstats = pd.read_excel(file,sheet_name = "Data")

WAstats.head()

,Website Region,WAPOL_Hierarchy_order_Lvl1,WAPOL_Hierarchy_Lvl1,WAPOL_Hierarchy_order_Lvl2,WAPOL_Hierarchy_Lvl2,Period,Year,Key,MonthYear,COUNT_of_Offnc_ID
0,Armadale District,1.1,Murder,1,Homicide,2007-01-01,2006-07,Armadale DistrictMurderHomicide12007,12007,NaN
1,Armadale District,1.1,Murder,1,Homicide,2007-02-01,2006-07,Armadale DistrictMurderHomicide22007,22007,NaN
2,Armadale District,1.1,Murder,1,Homicide,2007-03-01,2006-07,Armadale DistrictMurderHomicide32007,32007,1.0
3,Armadale District,1.1,Murder,1,Homicide,2007-04-01,2006-07,Armadale DistrictMurderHomicide42007,42007,NaN
4,Armadale District,1.1,Murder,1,Homicide,2007-05-01,2006-07,Armadale DistrictMurderHomicide52007,52007,NaN

In [14]:
#list of districts
WAstats['Website Region'].unique()

array(['Armadale District', 'Cannington District', 'Fremantle District',
       'Goldfields-Esperance District', 'Great Southern District',
       'Joondalup District', 'Kimberley District', 'Mandurah District',
       'Metropolitan Region', 'Mid West-Gascoyne District',
       'Midland District', 'Mirrabooka District', 'Perth District',
       'Pilbara District', 'Regional WA Region', 'South West District',
       'Western Australia', 'Wheatbelt District'], dtype=object)

In [15]:
#list of crimes
WAstats['WAPOL_Hierarchy_Lvl1'].unique()

array(['Murder', 'Attempted / Conspiracy to Murder', 'Manslaughter',
       'Driving Causing Death', 'Sexual Assault',
       'Non-Assaultive Sexual Offences', 'Serious Assault (Family)',
       'Common Assault (Family)', 'Serious Assault (Non-Family)',
       'Common Assault (Non-Family)', 'Assault Police Officer',
       'Threatening Behaviour (Family)',
       'Possess Weapon to Cause Fear (Family)',
       'Threatening Behaviour (Non-Family)',
       'Possess Weapon to Cause Fear (Non-Family)',
       'Kidnapping / Child Stealing', 'Deprivation of Liberty',
       'Robbery (Business)', 'Robbery (Non-Business)',
       'Burglary (Dwelling)', 'Burglary (Non-Dwelling)',
       'Stealing of Motor Vehicle',
       'Stealing From Motor Vehicle (Contents or Parts)',
       'Stealing From Retail Premises (Shoplift)',
       'Stealing From Dwelling', 'Stealing From Other Premises or Place',
       'Stealing as a Servant', 'Stealing (Not Elsewhere Classified)',
       'Criminal Damage', 'Damage', 'Cause Damage by Fire',
       'Cause Bushfire', 'Other Fire Related Offences', 'Drug Dealing',
       'Cultivate or Manufacture Drugs', 'Drug Possession',
       'Possession of Drug Paraphernalia', 'Other Drug Offences',
       'Possess Stolen Property', 'Receiving Stolen Property',
       'Regulated Weapons Offences', 'Graffiti', 'Forgery',
       'Fraud (Credit Card)', 'Fraud (Not Elsewhere Classified)',
       'Breach of Family Violence Restraint Order',
       'Breach of Violence Restraint Order', 'Breach of Police Order'],
      dtype=object)

In [16]:
WAstats['WAPOL_Hierarchy_Lvl2'].unique()

array(['Homicide', 'Recent Sexual Offences', 'Historical Sexual Offences',
       'Assault (Family)', 'Assault (Non-Family)',
       'Threatening Behaviour (Family)',
       'Threatening Behaviour (Non-Family)', 'Deprivation of Liberty',
       'Robbery', 'Burglary', 'Stealing of Motor Vehicle', 'Stealing',
       'Property Damage', 'Arson', 'Drug Offences',
       'Receiving and Possession of Stolen Property',
       'Regulated Weapons Offences', 'Graffiti',
       'Fraud & Related Offences', 'Breach of Violence Restraint Order'],
      dtype=object)

In [4]:
#Regional DF
Regional_df = WAstats[WAstats["Website Region"]=="Regional WA Region"]
Regional_df.head()

,Website Region,WAPOL_Hierarchy_order_Lvl1,WAPOL_Hierarchy_Lvl1,WAPOL_Hierarchy_order_Lvl2,WAPOL_Hierarchy_Lvl2,Period,Year,Key,MonthYear,COUNT_of_Offnc_ID
117600,Regional WA Region,1.1,Murder,1,Homicide,2007-01-01,2006-07,Regional WA RegionMurderHomicide12007,12007,NaN
117601,Regional WA Region,1.1,Murder,1,Homicide,2007-02-01,2006-07,Regional WA RegionMurderHomicide22007,22007,NaN
117602,Regional WA Region,1.1,Murder,1,Homicide,2007-03-01,2006-07,Regional WA RegionMurderHomicide32007,32007,NaN
117603,Regional WA Region,1.1,Murder,1,Homicide,2007-04-01,2006-07,Regional WA RegionMurderHomicide42007,42007,2.0
117604,Regional WA Region,1.1,Murder,1,Homicide,2007-05-01,2006-07,Regional WA RegionMurderHomicide52007,52007,1.0

In [6]:
Regional_df.iloc[0,5]

Timestamp('2007-01-01 00:00:00')

In [9]:
#get month and year as separate columns
Regional_df['Period Year'] = Regional_df['Period'].dt.year
Regional_df['Period Month'] = Regional_df['Period'].dt.month

In [10]:
Regional_df.head()

,Website Region,WAPOL_Hierarchy_order_Lvl1,WAPOL_Hierarchy_Lvl1,WAPOL_Hierarchy_order_Lvl2,WAPOL_Hierarchy_Lvl2,Period,Year,Key,MonthYear,COUNT_of_Offnc_ID,Period Year,Period Month
117600,Regional WA Region,1.1,Murder,1,Homicide,2007-01-01,2006-07,Regional WA RegionMurderHomicide12007,12007,NaN,2007,1
117601,Regional WA Region,1.1,Murder,1,Homicide,2007-02-01,2006-07,Regional WA RegionMurderHomicide22007,22007,NaN,2007,2
117602,Regional WA Region,1.1,Murder,1,Homicide,2007-03-01,2006-07,Regional WA RegionMurderHomicide32007,32007,NaN,2007,3
117603,Regional WA Region,1.1,Murder,1,Homicide,2007-04-01,2006-07,Regional WA RegionMurderHomicide42007,42007,2.0,2007,4
117604,Regional WA Region,1.1,Murder,1,Homicide,2007-05-01,2006-07,Regional WA RegionMurderHomicide52007,52007,1.0,2007,5

In [12]:

Regional_df.fillna(0, inplace = True)

In [17]:
Regional_df[Regional_df["Period Year"] == 2020]

,Website Region,WAPOL_Hierarchy_order_Lvl1,WAPOL_Hierarchy_Lvl1,WAPOL_Hierarchy_order_Lvl2,WAPOL_Hierarchy_Lvl2,Period,Year,Key,MonthYear,COUNT_of_Offnc_ID,Period Year,Period Month
117756,Regional WA Region,1.1,Murder,1,Homicide,2020-01-01,2019-20,Regional WA RegionMurderHomicide12020,12020,0.0,2020,1
117757,Regional WA Region,1.1,Murder,1,Homicide,2020-02-01,2019-20,Regional WA RegionMurderHomicide22020,22020,1.0,2020,2
117758,Regional WA Region,1.1,Murder,1,Homicide,2020-03-01,2019-20,Regional WA RegionMurderHomicide32020,32020,1.0,2020,3
117759,Regional WA Region,1.1,Murder,1,Homicide,2020-04-01,2019-20,Regional WA RegionMurderHomicide42020,42020,2.0,2020,4
117760,Regional WA Region,1.1,Murder,1,Homicide,2020-05-01,2019-20,Regional WA RegionMurderHomicide52020,52020,3.0,2020,5
...,...,...,...,...,...,...,...,...,...,...,...,...
125995,Regional WA Region,20.3,Breach of Police Order,20,Breach of Violence Restraint Order,2020-08-01,2020-21,Regional WA RegionBreach of Police OrderBreach...,82020,94.0,2020,8
125996,Regional WA Region,20.3,Breach of Police Order,20,Breach of Violence Restraint Order,2020-09-01,2020-21,Regional WA RegionBreach of Police OrderBreach...,92020,110.0,2020,9
125997,Regional WA Region,20.3,Breach of Police Order,20,Breach of Violence Restraint Order,2020-10-01,2020-21,Regional WA RegionBreach of Police OrderBreach...,102020,107.0,2020,10
125998,Regional WA Region,20.3,Breach of Police Order,20,Breach of Violence Restraint Order,2020-11-01,2020-21,Regional WA RegionBreach of Police OrderBreach...,112020,101.0,2020,11
125999,Regional WA Region,20.3,Breach of Police Order,20,Breach of Violence Restraint Order,2020-12-01,2020-21,Regional WA RegionBreach of Police OrderBreach...,122020,122.0,2020,12